.chats {
    max-width: 700px;
    overflow-y: auto ;
    padding: 2rem;
}
.chats::-webkit-scrollbar {
  width: 8px;
}

.chats::-webkit-scrollbar-thumb {
  background-color:rgba(255, 255, 255, 0.2);;
  border-radius: 10px;
}

.chats::-webkit-scrollbar-track {
  background: transparent;
}

.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}

.gptDiv {
    text-align: left;
    font-size: 0.9rem;
}

.userMessage {
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: 15rem;
    max-width: 500px;
    width: fit-content;
}

/* .gptMessage {
  styling added in main file " Chat.jsx " 
} */

.hljs {
  border-radius: 25px !important;
}

pre {
  white-space: pre-wrap;
}